.root{
    background-color: white;
    color:black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.picture{
    width:3rem
}
.side{
    display: flex;
    align-items: center;
}
.side1{
    display: flex;
    align-items: center;
    margin-top: 18vh;
}
.text{
    margin-left: 2rem;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: flex;
    width:80%;
    justify-content: space-between;
}
.contact{
    height: 87vh;
    background-color: black;
    width:40vw;
    margin-top: 10vh;
}
.subhead{
    color:white;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.input{
    display: block;
    background-color: white;
    color:black;
    height: 3rem;
    width:35vw;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
}
.input:focus{
    outline: none;
}
.input2{
    display: block;
    background-color: white;
    color:black;
    height: 3rem;
    width:35vw;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2.5rem;
}
.input2:focus{
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem;
}
.textarea{
    background-color: white;
    color:black;
    width:35vw;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem;
    margin-top: 2.5rem;
}
.textarea:focus{
    outline: none;
}
.button{
    background-color: #366fd1;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    height: 3rem;
    width: 8rem;
    /* font-weight: 500; */
}
@media only screen and (min-height:800px){
    .form{
        margin-top: 3rem;
    }
    .subhead{
        margin-top: 2rem;
    }
    .input2{
        margin-top: 3rem;
    }
    .textarea{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .contact{
        height: 75vh;
        margin-top: 12.5vh;
    }
    .side1{
        margin-top: 23vh;
    }
}
@media only screen and (min-height:950px){
    .form{
        margin-top: 3rem;
    }
    .subhead{
        margin-top: 2.5rem;
    }
    .input2{
        margin-top: 4rem;
        height:4rem
    }
    .textarea{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .contact{
        height: 70vh;
        margin-top: 15vh;
    }
    .side1{
        margin-top: 25vh;
    }
    .input{
        height: 4rem;
    }
}